<section class="pd">
    <h3>String Pipes</h3>
    <div>
        <div>{{str}}</div>
        <div>{{str|lowercase}}</div>
        <div>{{str|uppercase}}</div>
        <div>{{str|titlecase}}</div>
    </div>

    <h3>Currency</h3>
    <div>
        <div>{{num}}</div>
        <div>{{num|currency:'INR'}}</div>
        <div>{{num|currency:'USD'}}</div>
        <div>{{num|currency:'GBP'}}</div>
        <div>{{num|currency:'JPY'}}</div>
        <div>{{num|currency:'AUD'}}</div>
        <div>{{num|currency:'ABC'}}</div>
    </div>

    <h3>Number Pipe</h3>
    <div>
        <div>{{num}}</div>
        <div>{{num|number:'3.0-0'}}</div>
        <div>{{num|number:'3.0-1'}}</div>
        <div>{{num|number:'3.0-2'}}</div>
        <div>{{num|number:'3.3-3'}}</div>
        <div>{{num|number:'5.4-5'}}</div>
    </div>

    <h3>Date Pipe</h3>
    <div>
        <div>{{dt}}</div>
        <div>{{dt|date:'short'}}</div>
        <div>{{dt|date:'long'}}</div>
        <div>{{dt|date:'dd'}}</div>
        <div>{{dt|date:'dd-MM'}}</div>
        <div>{{dt|date:'dd-MMM'}}</div>
        <div>{{dt|date:'dd-MMMM'}}</div>
        <div>{{dt|date:'dd-MM-yy'}}</div>
        <div>{{dt|date:'dd-MM-yyyy hh:mm:ss aa'}}</div>
        <div>{{dt|date:'dd-MM-yyyy HH:mm:ss'}}</div>
    </div>
</section>